body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
}

input[type=number], output {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

button {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

output {
  margin-top: 20px;
}
